{% extends "mainpage.html" %}

{% block content %}

<form method="post">
        <label>
          Username:
          <input type="text" name="name" value="{{username}}">
          <div class="error">{{error_username}}</div>
        </label>
          <br> <br>
        <label>
          Password:
          <input type="password" name="password"/>
          <div class="error">{{error_password}}</div>
        </label>
          <br> <br>
        <label>
          Verify Password:
          <input type="password" name="verify"/>
          <div class="error">{{error_verify}}</div>
        </label>
          <br> <br>
        <label>
        Email(optional):
          <input type="text" name="email" value="{{myemail}}">
          <div class="error">{{error_email}}</div>
        </label>
          <br> <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
